body{
width: 100%;
font-family: 'Coming Soon', cursive;


}

body::after{
    content: "";
    background-image:url("../media/images/dominionBackground.jpg") ;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

input{

    border-radius: 8px ;



}
.names input{
    display: block;
}
.login{
    width: 40%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;


}
.login input{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.playerlabel{

    position: relative;
    top: 17px;
    left: 8px;
    font-size: 20px;
}
.amount{
    font-size: 23px;
    margin-bottom: 20px;
    display: inline;
}
.names label:first-of-type{
    color: black;
    position: relative;

}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.table div div {
    background-image: url("../media/images/Cards/chapel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 148px;
    height: 222px;
    display: inline-block;





}
.actionCards {
float: right;
    margin-right: 100px;
    margin-top: 10px;

}
.valuables div{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 175px;
    display: inline-block;
    float: left;
    margin-left: 10px;


}
.valuables{
    margin-left: 50px;
    padding-top: 50px;
}


aside{
position: absolute;
    bottom: 50px;
    right: 50px;

}
aside a{
    display: block;
    margin-bottom: 20px;
    background-color: dimgray;
    color: azure;
    padding: 30px;
}
aside div{
    background-image: url("../media/images/Cards/trash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 148px;
    height: 222px;

}
.cardMat{
    background-color: dimgray;
    width: 1000px;
    height: 400px;
    position: absolute;
    bottom: 50px;
    left: 450px;
    float: left;
    opacity: 0.7;


}
.middleLine{
    float: left;
    background-color: black;
    width: 1000px;
    height: 2px;
    position: absolute;
    top: 200px;

}

.piles{
    background-color: lightslategrey;
    width: 222px;
}
 .deck{

    position: absolute;
    bottom: 50px;
    margin-left: 100px;

}

 .discardPile {
     background-color: lightslategrey;
     width: 222px;
     position: absolute;
     bottom: 70px;
     margin-left: 100px;

 }



.curses{
    background-image: url("../media/images/Cards/curse.jpg");
}

.province{
    background-image: url("../media/images/Cards/province.jpg");

}
.estate{
    background-image: url("../media/images/Cards/estate.jpg");
}
.duchy{
    background-image: url("../media/images/Cards/duchy.jpg");
}

.gold{
    background-image: url("../media/images/Cards/gold.jpg");

}
.silver{
    background-image: url("../media/images/Cards/silver.jpg");
}
.copper{
    background-image: url("../media/images/Cards/copper.jpg");
}


